version: '3.8'
services:
  # Брокер
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      retries: 5

  # Хранилище метрик (числа)
  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    ports:
      - "8428:8428"
    command: ["--retentionPeriod=1"]

  # Хранилище логов (текст)
  victorialogs:
    image: victoriametrics/victoria-logs:latest
    ports:
      - "9428:9428"

  # Сборщик и маршрутизатор
  vector:
    image: timberio/vector:0.34.1-distroless-libc
    volumes:
      - ./vector/vector.yaml:/etc/vector/vector.yaml:ro
    depends_on:
      rabbitmq: { condition: service_healthy }
    restart: always

  # Генератор
  generator:
    build: ./generator
    depends_on:
      rabbitmq: { condition: service_healthy }
    restart: always

  # Визуализация
  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=victoriametrics-logs-datasource
    depends_on:
      - victoriametrics